.home-top{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    width: 100%;
}

.home-top-left{
    margin-left: 15px;
}

.home-top-left_greeting{
    font-size: larger;
    font-weight: bold;
}

.home-top-right{
    margin-right: 15px;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
