.main-travel-card{
    margin-top: 20px;
    width: 90%;
}
.travel-card-title{
    margin-left: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}

.main-travel-card-img{
    /* width: 100%; */
    height: 182px;
    width: 100%;
    /* line-height: 50px; */
    /* padding: 0 15px; */
    border-radius: 50px;
}

.travel-history{
    background-color: rgb(186, 237, 255);
    width: 100%;
    margin-top: 20px;
}

.travel-history_title{
    font-weight: 500;
    margin: 20px 15px;
}

.travel-history_journey-items-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}

.journey-item{
    display: grid;
    grid-template-columns: 10% 55% 35%;
    margin: 15px 15px;
}

.journey-item_location-icon_wrapper{
    display: flex;
    align-items: center;
}

.journey-item_location-icon{
    border: 2px solid #0480cc;
    border-radius: 100%;
    color: white;
    background-color: #0480cc;
    vertical-align: middle;
}



.journey-item_destination{
    font-weight: 500;
}


.journey-item_notify-before{

} 